<footer class="footer">
    <nav class="footer__nav">
        <ul class="footer__nav__list reset__ul">
            <li class="footer__nav__list__item">
                <a class="reset__a" href="/">
                    <span class="nav__item__icon">
                        <svg
                            width="23"
                            height="26"
                            viewBox="0 0 23 26"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M8 24.3333V12.6667H15V24.3333M1 9.16667L11.5 1L22 9.16667V22C22 22.6188 21.7542 23.2123 21.3166 23.6499C20.879 24.0875 20.2855 24.3333 19.6667 24.3333H3.33333C2.71449 24.3333 2.121 24.0875 1.68342 23.6499C1.24583 23.2123 1 22.6188 1 22V9.16667Z"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                        </svg>
                    </span>
                    <span class="nav__item__title">Home</span>
                </a>
            </li>
            <li class="footer__nav__list__item">
                <a class="reset__a" href="/shopping-list">
                    <span class="nav__item__icon">
                        <svg
                            width="23"
                            height="23"
                            viewBox="0 0 23 23"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M10 3.12132H3C2.46957 3.12132 1.96086 3.33203 1.58579 3.70711C1.21071 4.08218 1 4.59089 1 5.12132V19.1213C1 19.6518 1.21071 20.1605 1.58579 20.5355C1.96086 20.9106 2.46957 21.1213 3 21.1213H17C17.5304 21.1213 18.0391 20.9106 18.4142 20.5355C18.7893 20.1605 19 19.6518 19 19.1213V12.1213M17.5 1.62132C17.8978 1.2235 18.4374 1 19 1C19.5626 1 20.1022 1.2235 20.5 1.62132C20.8978 2.01915 21.1213 2.55871 21.1213 3.12132C21.1213 3.68393 20.8978 4.2235 20.5 4.62132L11 14.1213L7 15.1213L8 11.1213L17.5 1.62132Z"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                        </svg>
                    </span>
                    <span class="nav__item__title">Raw Shopping List</span>
                </a>
            </li>
            <li class="footer__nav__list__item">
                <a class="reset__a" href="/generated-shopping-list">
                    <span class="nav__item__icon">
                        <svg
                            width="22"
                            height="21"
                            viewBox="0 0 22 21"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M7.25 9.25L10.25 12.25L20.25 2.25M19.25 10.25V17.25C19.25 17.7804 19.0393 18.2891 18.6642 18.6642C18.2891 19.0393 17.7804 19.25 17.25 19.25H3.25C2.71957 19.25 2.21086 19.0393 1.83579 18.6642C1.46071 18.2891 1.25 17.7804 1.25 17.25V3.25C1.25 2.71957 1.46071 2.21086 1.83579 1.83579C2.21086 1.46071 2.71957 1.25 3.25 1.25H14.25"
                                stroke="currentColor"
                                stroke-width="2.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                        </svg>
                    </span>
                    <span class="nav__item__title"
                        >Generated Shopping List</span
                    >
                </a>
            </li>
        </ul>
    </nav>
</footer>
