@import url("/styles/styles.css");

.open__add__recipe__popout__button {
    position: relative;
    display: block;
    margin-left: auto;
    width: fit-content;
    padding: 0.5rem;
    background-color: rgba(71, 172, 71, 0.5);
    text-transform: uppercase;
    cursor: pointer;
}
.close__add__recipe__popout__button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
    background-color: rgba(20, 48, 104, 0.8);
    color: #fff;
    text-transform: uppercase;
    margin-top: 7rem;
    margin-right: 2rem;
    cursor: pointer;
}
