@import url("global-styles/classes.css");
@import url("elements/header.css");
@import url("/styles/elements/footer.css");
@import url("elements/recipe-list.css");
@import url("single-recipe.css");
@import url("global-styles/templates.css");
@import url("/styles/elements/new-recipe-popout.css");

/* @import url("shopping-list.css"); */

:root {
    --col-dark-green: #4b7f52;
    --col-dark-green--opac: 75, 127, 82;

    --col-green: #7dd181;
    --col-green--opac: 125, 209, 129;

    --col-light-green: #96e8bc;
    --col-light-green--opac: 150, 232, 188;

    --col-orange: #dfcc74;
    --col-orange--opac: 223, 204, 116;

    --col-warn: #f72c25;
    --col-warn--opac: 247, 44, 37;

    --col-type: #e9f8eb;
    --col-type--opac: 233, 248, 235;

    --col-bg: #101a12;
    --col-bg--opac: 22, 37, 25;

    --form-field-bg: rgba(var(--col-green--opac), 0.3);
    --tag-padding: 0.4rem 1rem;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    padding: 7rem 3vw;
    background-color: var(--col-bg);
    font-family: "Inter", sans-serif;
    color: var(--col-type);
    * {
    }
    button {
        color: var(--col-bg);
    }

    /* @media all and (min-width: 500px) {
        padding: 7rem 5vw;
    } */
}

input[type="text"],
input[type="number"],
input[type="number"],
textarea {
    background-color: var(--form-field-bg);
    color: var(--col-type);
    border: 0px;
    padding-block: 0.5rem;
    padding-left: 0.5rem;
    border-radius: 4px;
}

.page__heading {
    margin-top: 0;
}

/* todo - move to relevant file: */
.button__link__update {
    a {
        background-color: rgba(209, 140, 12, 0.8);
    }
}
