.button__link {
    a {
        padding: 0.5em 1em;
        background-color: rgba(141, 96, 96, 0.8);
        border: 2px solid #8d6060;
        border-radius: 4px;
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 0.02em;
    }
}

.tag__item {
    position: relative;
    padding: var(--tag-padding);
    width: fit-content;
    height: fit-content;
    background-color: rgba(var(--col-type--opac), 0.8);
    color: var(--col-bg);
    cursor: pointer;
    text-transform: capitalize;

    &.single__recipe__collection__item {
        background-color: rgba(var(--col-type--opac), 0.2);
        color: var(--col-type);
        padding: 0.2rem 0.5rem;
    }
}

.form__button {
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer;
    svg {
        width: 14px;
        color: inherit;
    }
}
.form__button__submit {
    background-color: var(--col-green);
}
.form__button__cancel {
    background-color: rgba(var(--col-light-green), 0.5);
    background-color: color-mix(
        in srgb,
        var(--col-light-green) 50%,
        transparent
    );
    color: var(--col-type);
}

.form__button__edit {
    background-color: var(--col-orange);
    color: var(--col-bg);
    svg {
        fill: transparent;
        path {
            stroke: var(--col-bg);
        }
    }
}
.form__button__delete {
    background-color: var(--col-warn);
    color: var(--col-type);
}

.ui__button {
    padding: 0.5rem 2rem;
    border-radius: 8px;
    border: 2px solid var(--col-green);
    background-color: var(--col-dark-green);
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}

.ui__button__submit {
    background-color: var(--col-light-green);
    color: var(--col-bg);
    border: 2px solid var(--col-dark-green);
}

.ui__button__warning {
    background-color: var(--col-warn);
    border: 2px solid var(--col-warn);
}
.ui__button__update {
    background-color: var(--col-orange);
    span {
        color: var(--col-bg);
    }
    svg {
        fill: transparent;
        path {
            stroke: var(--col-bg);
        }
    }
}
